body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

#signin_page, #profile, #conn_incorrect, #page_congrats {
  max-width: 330px;
  height: 100%; }

#signin_page {
  display: block; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }
  .form-signin .form-signin-heading {
    text-align: center; }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0; }

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px; }

.profile_info {
  display: table;
  width: 100%; }
  .profile_info .profile_info_tr {
    display: table-row;
    width: 100%; }
    .profile_info .profile_info_tr .profile_info_tb {
      display: table-cell; }
    .profile_info .profile_info_tr .avatar {
      background-color: blue;
      height: 100px;
      width: 100px; }
    .profile_info .profile_info_tr .info {
      padding: 10px; }

.score_info {
  text-align: center; }

.conn_incorrect {
  color: red;
  text-align: center;
  font-size: 16px;
  padding: 10px; }

#profile, .secret_phrase, .conn_incorrect {
  display: none; }

.btn-container {
  padding-bottom: 5px; }

#page_congrats h2 {
  text-align: center; }
